services:
  postgres:
    build:
      context: ./postgres
      dockerfile: postgres.dockerfile
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - ./postgres/.env
    restart: unless-stopped

  redis:
    image: redis:8-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--maxmemory", "2048mb"]
    restart: unless-stopped
    depends_on:
      - postgres

  fiber:
    image: alpine:latest
    container_name: fiber
    restart: unless-stopped
    depends_on:
      - redis
      - postgres

  nextjs:
    build:
      context: ./nextjs
      dockerfile: nextjs.dockerfile
      target: runner
    container_name: nextjs
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    # depends_on:
    #   - fiber

  nginx:
    image: nginx:mainline-alpine3.22
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    depends_on:
      - nextjs
      - fiber

volumes:
  postgres_data: