{
	"semi": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"trailingComma": "none",
	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"printWidth": 120,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-tailwindcss"]
}